.list {
	margin-bottom: 30px;
}
.ul-list {
	list-style-type: square;
	& > li {
		margin-left: 20px;
		border-top: 4px solid white;
		
	}
	& > .last {
		border-bottom: 4px solid white;
		margin-bottom: 20px;
	}
}